input, button, label{
    display: block;
    margin-top: 1rem;
}

body{
    max-width: 300px;
    margin: 0 auto;
    font-family: sans-serif;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

a{
    background-color:grey;
    border-radius: 20px;
    color: black;
}

h2{
    font-family: sans-serif;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

table th{
    background-color: #000;
    color: white;
    
}

button[id="CreateButtonStyle"]{
    background-color: black;
    color: white; 
    border-radius: 20px;  
}
